.b-dropdown-form-custom {
    width: 100px !important;
    padding-left: 20px !important;
}
.panel-header {
    padding: 18px 20px 0px 35px;
    height: 50px;
}

.panel-body {
    padding-left: 21px;
    padding-right: 21px;
}

.btn-panel-header {
    height: 33px;
    width: 86px;
}

.modal-footer {
    background: white !important;
}

.el-table__body-wrapper {
    height: 600px !important;

}

.divider {
    background: #b8c1cb !important;

}
